/* select the body tag */
body {
    margin: 0;
}
/* select all the tags <section> */
section {
    border-bottom: 1px solid black;
    overflow: hidden;
}
/* select all the tags that have
        class="technologies"
        or even class="technologies some-other-class" 
        or even class="some-other-class technologies some-third-class"
*/
.technologies {
    background-color: aliceblue;
}
.schedule {
    background-color: tomato;
}
table {
    border: solid #ddd 1px;
    margin: 5px;
    text-align: center;
    margin-bottom: 16px;
}
td {
    border: solid #ddd 1px;
    padding: 10px;
}
thead {
    font-weight: bold;
}
.curriculum {
    background-color: rgba(0, 255, 0, 0.5);
}
nav {
    background-color: rgba(0, 150, 150, 0.6);
    padding: 20px;
    margin-bottom: 20px;
}

/* select all the UL elements that are anywhere insde a NAV element */
nav ul {
    list-style: none;
    margin: 0;
}
nav li {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    margin-left: 10px;
}
nav a {
    text-decoration: none;
}
footer {
    background-color: black;
    color: white;
    padding: 5px;
    overflow: hidden
}
.links {
    float: right;
    width: 50%;
}
.partners {
    float: left;
    width: 50%;
}
footer a {
    color: tomato;
    text-decoration: none;
    text-align: left;
}
footer ul {
    list-style: none;
}
footer li {
    display: inline-block;
}
footer img {
    width: 100px;
    margin: 5px;
    display: inline-block;
}
footer h3 {
    margin-left:38px;
}





